/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-progress-spinner{
    position: absolute !important;
    top: 50%;
    left: calc(50vw - 100px);
}

body{
    background-color: black !important;
}

.disable-background{
    background-color: #968d8d;
    opacity: 70%;
    pointer-events: none;
}

.mat-card{
    margin: 10px;
}

.mat-toolbar-row .mat-form-field{
    position: absolute;
    right: 16px;
    margin-top: 5px;
}

.mat-grid-list, .mat-grid-list p{
    margin: 16px;
}

.white{
    color: white !important;
}

.black, .ng-tns-c3-1 .ng-star-inserted, .mat-select-arrow-wrapper{
    color: black !important;
}

.center-align{
    text-align: center !important;
}

.mat-select-trigger{
    background: white;
    padding: 12px;
}

.mat-form-field-underline{
    display: none;
}
